.celebration-card {

  border: none;

  .card-header {
    &.frontend {
      background-color: $frontend;
    }
  
    &.backend {
      background-color: $backend;
    }
    
    &.other {
      background-color: $other;
    }
  }

  .card-title, .card-subtitle {
    color: $white;
    font-family: 'Zilla Slab';
    text-align: center;
    margin: 1.5rem 1rem;
  }

  .card-subtitle {
    font-size: 14px;
    margin-top: 0.5rem;
  }

  .card-text {
    margin: 1rem;
    font-family: 'Roboto';

    &.code {
      font-family: 'Roboto Mono';
    }
  }
}
