.celebration-card {
  padding: 1rem;

  &.frontend {
    background-color: $frontend;
  }

  &.backend {
    background-color: $backend;
  }
  
  &.other {
    background-color: $other;
  }

  .card-title, .card-subtitle {
    color: $white;
    font-family: 'Zilla Slab';
    text-align: center;
  }

  .card-subtitle {
    font-size: 14px;
    margin-top: 0.5rem;
  }
}
