$body-bg: #F3F1FF;
$pink: #E05CC4;
$teal: #369C84;
$aqua: #3399C5;
$purple: #233A87;

$frontend: $pink;
$backend: $teal;
$other: $aqua;

@import "~bootstrap/scss/bootstrap";
@import "./wavy.scss";
@import "./celebration-card.scss";

h1 {
  font-family: 'Zilla Slab';
  font-weight: bold;
}

.btn {
  color: $white;
  font-family: 'Zilla Slab';
  font-weight: bold;

  &:hover {
    color: $white;
  }
}

.btn-frontend {
  background-color: $frontend;
  &:hover {
    background-color: saturate($frontend, 20%);
  }
}

.btn-backend {
  background-color: $backend;
  &:hover {
    background-color: saturate($backend, 25%);
  }
}

.btn-other {
  background-color: $other;
  &:hover {
    background-color: saturate($other, 25%);
  }
}

.btn-primary-dark {
  background-color: darken($purple, 15%);
  border: $white;

  &:hover {
    background-color: darken($purple, 25%);
  }
}

.hero {
  background-color: #3D449C;

  h1, h4 {
    color: $white;
  }
}

.filters {
  display: flex;
  justify-content: space-between;

  .btn {
    flex-grow: 1;
  }

  .btn + .btn {
    margin-left: 1rem;
  }
}

@import 'wavy.scss';
